body {
  background-color: rgb(227, 232, 227);
}

.paras {
  display: inline-block;
  margin: auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.package {
  font-family: "Courier New";
  color: #008080;
}

.hint {
  font-style: italic;
  color: #2F4F4F;
}

.point {
  font-weight: bold;
  color: #C71585;
}

div.image_text {
  display: inline-block;
  text-align: center;
  margin: auto;
}

span.image_text {
  display: inline-block;
  max-width: 150px;
  word-wrap: normal;
  margin-bottom: -50px;
  font-family: "Courier New";
  font-size: 10px;
  font-weight: bold;
  font-style: italic;
  color: #666699;
}

.arrow {
  display: inline-block;
  font-weight: 100;
  font-style: normal;
  margin-top: -90px;
  margin-bottom: -100px;
  font-family: "Times New Roman";
  font-size: 150px;
  transform: scale(1, 0.375);
}
